:root {
    --cub : cubic-bezier(0.4,0,0.49,1);
}


.main {
    width: 400px;
    height: 400px;
    background-color:#272c34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px,-200px);
    border-radius: 3px;
    box-shadow: 0 0 10px ;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

.circle {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
    z-index: 20;
    overflow: hidden;
}

.sky {
    height: 124px;
    background-color: #7AD8F5 ;
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    animation: skychange 4s var(--cub)  infinite;
}

.sun {
    position: absolute;
    width: 34px;
    height: 34px;
    clip-path: circle(50% at 50% 50%);
    background-color: yellow;
    
    z-index: 2;
    top: 7px;
    left: 73px;
    transform-origin: 50% 400%;
    animation: sunchange 4s var(--cub) infinite;
}

.side-left {
    width: 116px;
    height: 57px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    clip-path: polygon( 50% 0, 100% 100%, 0 100%);
    animation: sideleftchange 4s var(--cub) infinite;
}

.side-right {
    width: 58px;
    height: 57px;
    background-color: #dddada;
    position: absolute;
    clip-path: polygon(0 0, 100% 100%, 30% 100%);
    top: 54%;
    left: 66%;
    transform: translate(-50%, -50%);
    animation: sideleftchange 4s var(--cub) infinite reverse;
}

.shadow {
    width: 350px;
    height: 30px;
    background-color: rgb(0 0 0 / 20%) ;
    z-index: 10;
    position: absolute;
    top: 125px;
    left: -82px;
    transform-origin: 50% 0%;
    clip-path:polygon(118px 0%, 230px 0%, 80% 100%);
    animation: shadowchange 4s var(--cub) infinite;

}

.ground {
    position: absolute;
    height: 56px;
    z-index: 1;
    background-color: #f0de75;
    bottom: 0;
    right: 0;
    left: 0;
    animation: groundchange 4s var(--cub) infinite  ;
}

@keyframes skychange {
    0% {
        background-color: #272c34;
    }
    30%  {
        background-color: #7AD8F5;
    }
    70% {
        background-color: #7AD8F5;
    }
    100%{
        background-color: #272c34;
    }
}
@keyframes groundchange {
    0% {
        background-color: #272c34;
    }
    30%  {
        background-color: #f0de75;
    }
    70% {
        background-color: #f0de75;
    }
    100%{
        background-color: #272c34;
    }
}
@keyframes sideleftchange {
    0% {
        background-color: #272c34;
    }
    30%  {
        background-color: #f4f4f4;
    }
    70% {
        background-color: #dddada;
    }
    100%{
        background-color: #272c34;
    }}


@keyframes shadowchange {
    0% {transform: scaleY(0);
        clip-path:polygon(116px 0%, 228px 0%, 100% 100%) ;
        
    }
    30%  {
        clip-path:polygon(116px 0%, 228px 0%, 80% 100%) ;
        transform: scaleY(1);
    }
    55% {
        
        transform: scaleY(0.4);
    }
    75% {
        
        transform: scaleY(1);
    }
    100%{
        clip-path:polygon(116px 0%, 228px 0, 0% 100%) ;
        transform: scaleY(0);
    }
} 

@keyframes sunchange {
    0%{
        background-color: red;
        transform: rotate(-70deg);
    }
    30%{
        background-color: yellow;
        transform: rotate(-28deg);
    }
    70%{
        background-color: yellow;
    }
    100%{
        background-color: red;
        transform: rotate(70deg);
    }
}

